<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>404 not Found | AnimalsAPI</title>
     <style>
          ::-webkit-scrollbar {
               width: 8px;
               height: 10px;

          }

          ::-webkit-scrollbar-thumb {
               border-radius: 8px;
               background: #c2c9d2;
          }
     </style>
</head>
<body>
     <div id="app" style="
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          text-decoration: none;
          margin-top: 6cm;
     ">
          <h1>404 Page Not Found <%= url %> | <a href="/">AnimalsAPI</a></h1>
     </div>
</body>
</html>